In [ ]:
import pandas as pd
import numpy as np

- kindle_common and movie_common :- user ratings of all common users (atleast 1 movie and 1 book)
- perform reduction and filtering on these datasets and create consolidated dfs of kindle and movie items
- movie_category_final and kindle_book_final :- use the reduced dfs to filter out the items that have been rated by the resulting users
- merge both dfs as item_final (movie and kindle item data) and user_item_rating(from kindle_common and movie_common data)

REDUCTION STEP:
- select intersection of common user datasets such that the users selected must have rated atleast 20 books and atleast 20 movies, and atmost 500 movies and atmost 500 books

# Dataset imports

In [ ]:
movie_common = pd.read_csv('/content/drive/MyDrive/FinalModel/common_movie_user_rating.csv')
kindle_common = pd.read_csv('/content/drive/MyDrive/FinalModel/common_kindle_user_rating.csv')

In [ ]:
movie_common = movie_common.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
movie_common

              asin      reviewerID  overall
0       0005092663  A1R6FXSZVCIJKK      5.0
1       0005092663  A38KRRY00H5TEY      2.0
2       0005019281   AC9AFG8PVGXJD      5.0
3       0005019281  A3JRKLJ8VKWGB9      5.0
4       0005019281  A126Q2HVTCS9P2      5.0
...            ...             ...      ...
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0
175462  6303923720  A1G5Q9HBN0EGDV      5.0
175463  6303964850  A1G5Q9HBN0EGDV      5.0

[175464 rows x 3 columns]

In [ ]:
kindle_common = kindle_common.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
kindle_common

              asin      reviewerID  overall
0       B000FA64QO   AQZH7YTWQPOBE      4.0
1       B000FA64QO  A1ZT7WV0ZUA0OJ      5.0
2       B000FA64QO  A22CW0ZHY3NJH8      3.0
3       B000FA64QO  A3561GRE7L3N1E      5.0
4       B000FA5PV4  A3CON4WD5PKNWO      3.0
...            ...             ...      ...
118034  B01HHNZOUI  A1ZH5ULI4SBO48      4.0
118035  B01HIGNUGE   A8K7ZXXGDS9CU      2.0
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0
118037  B01HJ7ZMP4  A24314ZRNRP70B      5.0
118038  B01HJ7ZMP4  A328S9RN3U5M68      5.0

[118039 rows x 3 columns]

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/FinalModel/movie_category_final.csv')
kindle = pd.read_csv('/content/drive/MyDrive/FinalModel/Kindle_book_final.csv')

In [ ]:
movie = movie.drop('Unnamed: 0',axis=1)
movie

,asin,Compound Score,Fantasy,Anime & Manga,History,Mystery,Action,Animation,Comedy,Horror,Science Fiction,Romance,Mystery & Thrillers,Documentary,Drama
0,0005092663,0.394281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0307142477,0.593657,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0307142493,0.616946,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0578047861,0.872375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0738920061,0.616767,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22437,B01HE8SHSW,0.618287,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22439,B01HEXUFAK,0.386792,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22440,B01HH20HHE,0.630460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22441,B01HHGAKD6,0.699050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
movie_list = list(set(movie['asin']))
len(movie_list)

22442

In [ ]:
kindle = kindle.drop('Unnamed: 0',axis=1)
kindle

,asin,Compound Score,Manga & amp,Graphic Novels,Romance,Humor & Satire,Literature & Fiction,Science & Math,History,Religion & Spirituality,Thriller & Suspense,Mystery,Self-Help,Teen & Young Adult,Nonfiction,Science Fiction & Fantasy
0,B000FA5KK0,0.732777,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,B000FA5PV4,0.617383,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B000FA64PK,0.503675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,B000FA64QO,0.521333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,B000FA65EK,0.021900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81627,B01HJA2J0C,0.234629,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81628,B01HJBPMQY,0.804362,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
81630,B01HJC63YI,0.571136,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81631,B01HJENY3Y,0.153371,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
kindle_list = list(set(kindle['asin']))
len(kindle_list)

81632

# movie_common processing

In [ ]:
movie_common

              asin      reviewerID  overall
0       0005092663  A1R6FXSZVCIJKK      5.0
1       0005092663  A38KRRY00H5TEY      2.0
2       0005019281   AC9AFG8PVGXJD      5.0
3       0005019281  A3JRKLJ8VKWGB9      5.0
4       0005019281  A126Q2HVTCS9P2      5.0
...            ...             ...      ...
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0
175462  6303923720  A1G5Q9HBN0EGDV      5.0
175463  6303964850  A1G5Q9HBN0EGDV      5.0

[175464 rows x 3 columns]

In [ ]:
movie_common = movie_common.loc[movie_common['asin'].isin(movie_list)]
movie_common

              asin      reviewerID  overall
0       0005092663  A1R6FXSZVCIJKK      5.0
1       0005092663  A38KRRY00H5TEY      2.0
27      0307142477  A2I6MHMAZZDCRX      1.0
28      0307142493  A37EL1DE93A6NP      5.0
29      0307142493  A2DJ29D6E9VMUM      4.0
...            ...             ...      ...
175454  6303954170  A20EEWWSFMZ1PN      5.0
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0
175462  6303923720  A1G5Q9HBN0EGDV      5.0

[66558 rows x 3 columns]

In [ ]:
movie_common = movie_common.drop_duplicates()
movie_common

              asin      reviewerID  overall
0       0005092663  A1R6FXSZVCIJKK      5.0
1       0005092663  A38KRRY00H5TEY      2.0
27      0307142477  A2I6MHMAZZDCRX      1.0
28      0307142493  A37EL1DE93A6NP      5.0
29      0307142493  A2DJ29D6E9VMUM      4.0
...            ...             ...      ...
175450  6303905315  A3MV1KKHX51FYT      3.0
175454  6303954170  A20EEWWSFMZ1PN      5.0
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0

[54103 rows x 3 columns]

In [ ]:
# choosing reviewers with reviews more than 20 and less than 500 only 
counts = movie_common['reviewerID'].value_counts()
movie_common = movie_common[movie_common['reviewerID'].isin(counts[counts < 500].index)]
movie_common = movie_common[movie_common['reviewerID'].isin(counts[counts > 10].index)]

In [ ]:
movie_common

              asin      reviewerID  overall
27      0307142477  A2I6MHMAZZDCRX      1.0
29      0307142493  A2DJ29D6E9VMUM      4.0
31      0307142493  A2I6MHMAZZDCRX      4.0
32      0307142493  A11TXTVCFT246T      5.0
34      0307142493  A25KKXUQQ0OLWB      3.0
...            ...             ...      ...
175450  6303905315  A3MV1KKHX51FYT      3.0
175454  6303954170  A20EEWWSFMZ1PN      5.0
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0

[31362 rows x 3 columns]

# kindle_common processing

In [ ]:
kindle_common = kindle_common.loc[kindle_common['asin'].isin(kindle_list)]
kindle_common

              asin      reviewerID  overall
0       B000FA64QO   AQZH7YTWQPOBE      4.0
1       B000FA64QO  A1ZT7WV0ZUA0OJ      5.0
2       B000FA64QO  A22CW0ZHY3NJH8      3.0
3       B000FA64QO  A3561GRE7L3N1E      5.0
4       B000FA5PV4  A3CON4WD5PKNWO      3.0
...            ...             ...      ...
118034  B01HHNZOUI  A1ZH5ULI4SBO48      4.0
118035  B01HIGNUGE   A8K7ZXXGDS9CU      2.0
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0
118037  B01HJ7ZMP4  A24314ZRNRP70B      5.0
118038  B01HJ7ZMP4  A328S9RN3U5M68      5.0

[118039 rows x 3 columns]

In [ ]:
kindle_common = kindle_common.drop_duplicates()
kindle_common

              asin      reviewerID  overall
0       B000FA64QO   AQZH7YTWQPOBE      4.0
1       B000FA64QO  A1ZT7WV0ZUA0OJ      5.0
2       B000FA64QO  A22CW0ZHY3NJH8      3.0
3       B000FA64QO  A3561GRE7L3N1E      5.0
4       B000FA5PV4  A3CON4WD5PKNWO      3.0
...            ...             ...      ...
118034  B01HHNZOUI  A1ZH5ULI4SBO48      4.0
118035  B01HIGNUGE   A8K7ZXXGDS9CU      2.0
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0
118037  B01HJ7ZMP4  A24314ZRNRP70B      5.0
118038  B01HJ7ZMP4  A328S9RN3U5M68      5.0

[117148 rows x 3 columns]

In [ ]:
# choosing reviewers with reviews more than 20 and less than 500 only 

counts = kindle_common['reviewerID'].value_counts()
kindle_common = kindle_common[kindle_common['reviewerID'].isin(counts[counts < 500].index)]
kindle_common = kindle_common[kindle_common['reviewerID'].isin(counts[counts > 10].index)]

In [ ]:
kindle_common

              asin      reviewerID  overall
6       B000FA65EK  A2EDZH51XHFA9B      1.0
8       B000FA671Q  A3S7REHVBOSTLR      4.0
15      B000FA671Q  A3N6JG64P2G9EV      3.0
19      B000FA671Q   AC1K4OQOZ90RS      3.0
27      B000FBFMVG  A12LKEM543ILBK      3.0
...            ...             ...      ...
118032  B01HFUF1K6  A3JIH8AAZLQQ4O      5.0
118033  B01HH5FM6W  A3H6394NDZX40V      5.0
118035  B01HIGNUGE   A8K7ZXXGDS9CU      2.0
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0
118037  B01HJ7ZMP4  A24314ZRNRP70B      5.0

[85323 rows x 3 columns]

# Reduced users

In [ ]:
len(set(movie_common['reviewerID']))

809

In [ ]:
len(set(kindle_common['reviewerID']))

2444

In [ ]:
len(set(movie_common['reviewerID']) & set(kindle_common['reviewerID']))

282

In [ ]:
from functools import reduce
common_users = list(reduce(set.intersection, map(set, [movie_common.reviewerID, kindle_common.reviewerID])))
len(common_users)

282

In [ ]:
kindle_common = kindle_common.loc[kindle_common['reviewerID'].isin(common_users)]
kindle_common

              asin      reviewerID  overall
8       B000FA671Q  A3S7REHVBOSTLR      4.0
19      B000FA671Q   AC1K4OQOZ90RS      3.0
27      B000FBFMVG  A12LKEM543ILBK      3.0
31      B000FBFM1G  A3MV1KKHX51FYT      4.0
36      B000FBFM1G   AHUT55E980RDR      4.0
...            ...             ...      ...
117999  B01H6I7VT6   AJ571UKWCC3CC      4.0
118000  B01H737CR6  A1A6ADR8JG12KQ      4.0
118028  B01HDSH78O   AJ571UKWCC3CC      4.0
118031  B01HFDLYMW   AUGABW5AS2OXM      4.0
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0

[9922 rows x 3 columns]

In [ ]:
kin_test = kindle_common.loc[kindle_common['reviewerID']=='A1L43KWWR05PCS']
kin_test

Empty DataFrame
Columns: [asin, reviewerID, overall]
Index: []

In [ ]:
counts = kindle_common['reviewerID'].value_counts()
counts

AJ571UKWCC3CC     353
A1E481YU3ZPK6S    299
AYGI3FN2M078F     272
A1MND3QHN446KD    244
A2KMV056844YV2    222
                 ...
A28TEYUOFXAJCK     11
A3T13H29NQEJOI     11
A2QEQ9U6OLC53A     11
ANT5JCRWQSYPI      11
A2IWQ8XC3HJ82Z     11
Name: reviewerID, Length: 282, dtype: int64

In [ ]:
movie_common = movie_common.loc[movie_common['reviewerID'].isin(common_users)]
movie_common

              asin      reviewerID  overall
27      0307142477  A2I6MHMAZZDCRX      1.0
31      0307142493  A2I6MHMAZZDCRX      4.0
32      0307142493  A11TXTVCFT246T      5.0
34      0307142493  A25KKXUQQ0OLWB      3.0
35      0307142493  A27TQA0XCZUXZY      4.0
...            ...             ...      ...
175450  6303905315  A3MV1KKHX51FYT      3.0
175454  6303954170  A20EEWWSFMZ1PN      5.0
175459  6303923720  A20EEWWSFMZ1PN      5.0
175460  6303923720  A3MV1KKHX51FYT      4.0
175461  6303923720  A1G5Q9HBN0EGDV      5.0

[11737 rows x 3 columns]

checks if numberof common users from the two dfs is same after filtering

In [ ]:
# common_check = list(reduce(set.intersection, map(set, [movie_common.reviewerID, kindle_common.reviewerID])))
# len(common_check)

In [ ]:
kindle_common['type'] = 'K'
kindle_common

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              asin      reviewerID  overall type
8       B000FA671Q  A3S7REHVBOSTLR      4.0    K
19      B000FA671Q   AC1K4OQOZ90RS      3.0    K
27      B000FBFMVG  A12LKEM543ILBK      3.0    K
31      B000FBFM1G  A3MV1KKHX51FYT      4.0    K
36      B000FBFM1G   AHUT55E980RDR      4.0    K
...            ...             ...      ...  ...
117999  B01H6I7VT6   AJ571UKWCC3CC      4.0    K
118000  B01H737CR6  A1A6ADR8JG12KQ      4.0    K
118028  B01HDSH78O   AJ571UKWCC3CC      4.0    K
118031  B01HFDLYMW   AUGABW5AS2OXM      4.0    K
118036  B01HIGNUGE  A333TKE5KYTW0Z      5.0    K

[9922 rows x 4 columns]

In [ ]:
movie_common['type'] = 'M'
movie_common

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              asin      reviewerID  overall type
27      0307142477  A2I6MHMAZZDCRX      1.0    M
31      0307142493  A2I6MHMAZZDCRX      4.0    M
32      0307142493  A11TXTVCFT246T      5.0    M
34      0307142493  A25KKXUQQ0OLWB      3.0    M
35      0307142493  A27TQA0XCZUXZY      4.0    M
...            ...             ...      ...  ...
175450  6303905315  A3MV1KKHX51FYT      3.0    M
175454  6303954170  A20EEWWSFMZ1PN      5.0    M
175459  6303923720  A20EEWWSFMZ1PN      5.0    M
175460  6303923720  A3MV1KKHX51FYT      4.0    M
175461  6303923720  A1G5Q9HBN0EGDV      5.0    M

[11737 rows x 4 columns]

In [ ]:
user_item_rating = kindle_common.append(movie_common)
user_item_rating

              asin      reviewerID  overall type
8       B000FA671Q  A3S7REHVBOSTLR      4.0    K
19      B000FA671Q   AC1K4OQOZ90RS      3.0    K
27      B000FBFMVG  A12LKEM543ILBK      3.0    K
31      B000FBFM1G  A3MV1KKHX51FYT      4.0    K
36      B000FBFM1G   AHUT55E980RDR      4.0    K
...            ...             ...      ...  ...
175450  6303905315  A3MV1KKHX51FYT      3.0    M
175454  6303954170  A20EEWWSFMZ1PN      5.0    M
175459  6303923720  A20EEWWSFMZ1PN      5.0    M
175460  6303923720  A3MV1KKHX51FYT      4.0    M
175461  6303923720  A1G5Q9HBN0EGDV      5.0    M

[21659 rows x 4 columns]

In [ ]:
type_df = user_item_rating[['asin', 'type']]
type_df

              asin type
8       B000FA671Q    K
19      B000FA671Q    K
27      B000FBFMVG    K
31      B000FBFM1G    K
36      B000FBFM1G    K
...            ...  ...
175450  6303905315    M
175454  6303954170    M
175459  6303923720    M
175460  6303923720    M
175461  6303923720    M

[21659 rows x 2 columns]

In [ ]:
user_item_rating = user_item_rating.drop('type', axis=1)

In [ ]:
user_item_rating.to_csv('/content/drive/MyDrive/FinalModel/user_item_rating.csv')

In [ ]:
type_df = type_df.drop_duplicates()
type_df

              asin type
8       B000FA671Q    K
27      B000FBFMVG    K
31      B000FBFM1G    K
50      B000FBJBA4    K
62      B000FC11II    K
...            ...  ...
175446  6303905609    M
175447  6303864848    M
175450  6303905315    M
175454  6303954170    M
175459  6303923720    M

[14240 rows x 2 columns]

In [ ]:
type_df.to_csv('/content/drive/MyDrive/FinalModel/item_type.csv')

# Item Dataset Filtering

# Movie dataset filtering

In [ ]:
kindle_list = list(set(kindle_common['asin']))
len(kindle_list)

8335

In [ ]:
kindle = kindle.loc[kindle['asin'].isin(kindle_list)]
kindle

,asin,Compound Score,Manga & amp,Graphic Novels,Romance,Humor & Satire,Literature & Fiction,Science & Math,History,Religion & Spirituality,Thriller & Suspense,Mystery,Self-Help,Teen & Young Adult,Nonfiction,Science Fiction & Fantasy
5,B000FA671Q,0.562306,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,B000FC11II,0.223200,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81588,B01HIGNUGE,0.503186,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81594,B01HIP8DAI,0.804364,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81613,B01HIZRVFG,0.666268,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81628,B01HJBPMQY,0.804362,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
movie_list = list(set(movie_common['asin']))
len(movie_list)
# movie.loc[movie['asin']=='B00HNX29S8']

5905

In [ ]:
movie = movie.loc[movie['asin'].isin(movie_list)]
movie

,asin,Compound Score,Fantasy,Anime & Manga,History,Mystery,Action,Animation,Comedy,Horror,Science Fiction,Romance,Mystery & Thrillers,Documentary,Drama
1,0307142477,0.593657,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0307142493,0.616946,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,0764003828,0.562899,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0764006401,0.687023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,0767087372,0.606877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,B01H4FJP7C,0.586133,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22426,B01H5X80Y2,0.060769,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22428,B01HC3880G,0.318535,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22432,B01HDHA9JO,0.159425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# Genre Mapping for consolidated dataset

In [ ]:
movie.describe()

,Compound Score,Fantasy,Anime & Manga,History,Mystery,Action,Animation,Comedy,Horror,Science Fiction,Romance,Mystery & Thrillers,Documentary,Drama
count,5905.000000,5905.000000,5905.000000,5905.000000,5905.0,5905.000000,5905.000000,5905.000000,5905.000000,5905.000000,5905.000000,5905.000000,5905.000000,5905.000000
mean,0.476505,0.046571,0.012193,0.000169,0.0,0.034716,0.057070,0.189500,0.052498,0.101778,0.006943,0.025064,0.064691,0.270957
std,0.246774,0.210735,0.109756,0.013013,0.0,0.183076,0.231997,0.391939,0.223048,0.302382,0.083044,0.156331,0.246001,0.444491
min,-0.999200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.354903,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.533414,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.637358,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,0.999200,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# !python -m spacy download en_core_web_md

In [ ]:
import spacy
nlp = spacy.load('en_core_web_md')
movie_genre = ['Anime','Romance','Comedy','History','Action','Horror','Drama','Mystery','Thriller','Science Fiction','Fantasy']

In [ ]:
musicgen = "happy birthday to you & me"
musicgen.split(' ')[0]

'happy'

In [ ]:
def books_to_movie(musicgen1):
  similar_genres = []
  for movie in movie_genre:

    words = musicgen1 + ' ' + movie
    tokens = nlp(words)

    # token1, token2, token3 = tokens[0], tokens[1], tokens[2]  

    token1, token2 = tokens[0], tokens[1]  
    similarityval1 = token1.similarity(token2) 
    # similar_genres.append([movie, similarityval])
    # similarityval2 = token2.similarity(token3) 
    # if similarityval1 > similarityval2:
    similar_genres.append([movie,similarityval1])
    # else:
    #   similar_genres.append([movie,similarityval2])
  similar_genres = sorted(similar_genres, key = lambda x: x[1], reverse=True)
  similar_genres = similar_genres[:4]
  result = [ x[0] for x in similar_genres]
  return result

In [ ]:
res = books_to_movie('Humour')
print(res)

['Comedy', 'Romance', 'Mystery', 'Thriller']

In [ ]:
def map_genre_helper(musicgen1):
  res = []
  if '&' in musicgen1:
      word1 = musicgen1.split(' ')[0]
      word2 = musicgen1.split(' ')[2]
      res1 = books_to_movie(word1)
      res2 = books_to_movie(word2)
      res = res1[:2]
      for r in res2:
        if (r not in res) & (len(res)<4):
          res.append(r)
  else:
    res = books_to_movie(musicgen1)
  return res

In [ ]:
test = map_genre_helper("Comedy")
print(test)

['Comedy', 'Drama', 'Romance', 'Mystery']

In [ ]:
movie = movie.drop('Mystery',axis=1)

In [ ]:
movie.columns

Index(['asin', 'Compound Score', 'Fantasy', 'Anime & Manga', 'History',
       'Action', 'Animation', 'Comedy', 'Horror', 'Science Fiction', 'Romance',
       'Mystery & Thrillers', 'Documentary', 'Drama'],
      dtype='object')

In [ ]:
items = movie

In [ ]:
items = items.rename(columns={'Anime & Manga': 'Anime', 'Mystery & Thrillers':'Mystery'})
items['Thriller'] = items['Mystery']
items

,asin,Compound Score,Fantasy,Anime,History,Action,Animation,Comedy,Horror,Science Fiction,Romance,Mystery,Documentary,Drama,Thriller
1,0307142477,0.593657,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0307142493,0.616946,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0764003828,0.562899,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0764006401,0.687023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,0767087372,0.606877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,B01H4FJP7C,0.586133,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22426,B01H5X80Y2,0.060769,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22428,B01HC3880G,0.318535,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22432,B01HDHA9JO,0.159425,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
def map_genre():
  gen_list = items.columns
  gen_list = gen_list[2:]
  for g in gen_list:
    gen_dict[g] = map_genre_helper(g)

In [ ]:
gen_dict = {}
map_genre()
gen_dict

{'Action': ['Action', 'Horror', 'Romance', 'Mystery'],
 'Animation': ['Anime', 'Comedy', 'History', 'Drama'],
 'Anime': ['Anime', 'History', 'Drama', 'Romance'],
 'Comedy': ['Comedy', 'Drama', 'Romance', 'Mystery'],
 'Documentary': ['Comedy', 'Romance', 'Mystery', 'Thriller'],
 'Drama': ['Drama', 'Romance', 'Mystery', 'Thriller'],
 'Fantasy': ['Romance', 'Mystery', 'Thriller', 'Fantasy'],
 'History': ['History', 'Anime', 'Action', 'Science Fiction'],
 'Horror': ['Horror', 'Action', 'History', 'Comedy'],
 'Mystery': ['Romance', 'Thriller', 'Fantasy', 'Mystery'],
 'Romance': ['Mystery', 'Thriller', 'Fantasy', 'Romance'],
 'Science Fiction': ['Anime', 'Romance', 'Comedy', 'History'],
 'Thriller': ['Romance', 'Mystery', 'Fantasy', 'Thriller']}

In [ ]:
for item in items.index:
  related = []
  for gen in items.columns:
    if items.at[item,gen]==1.0:
      for genre in gen_dict[gen]:
        related.append(genre)
  for g in related:
    items.at[item,g] = 1.0
items

,asin,Compound Score,Fantasy,Anime,History,Action,Animation,Comedy,Horror,Science Fiction,Romance,Mystery,Documentary,Drama,Thriller
1,0307142477,0.593657,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
2,0307142493,0.616946,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
8,0764003828,0.562899,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
10,0764006401,0.687023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
12,0767087372,0.606877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,B01H4FJP7C,0.586133,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
22426,B01H5X80Y2,0.060769,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22428,B01HC3880G,0.318535,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
22432,B01HDHA9JO,0.159425,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0

In [ ]:
items = items.drop(['Animation','Documentary'],axis=1)
items

,asin,Compound Score,Fantasy,Anime,History,Action,Comedy,Horror,Science Fiction,Romance,Mystery,Drama,Thriller
1,0307142477,0.593657,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
2,0307142493,0.616946,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
8,0764003828,0.562899,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
10,0764006401,0.687023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
12,0767087372,0.606877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,B01H4FJP7C,0.586133,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
22426,B01H5X80Y2,0.060769,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
22428,B01HC3880G,0.318535,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
22432,B01HDHA9JO,0.159425,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0

In [ ]:
movie_items = items

In [ ]:
movie_items.to_csv('/content/drive/MyDrive/FinalModel/new_items_movie.csv')

# kindle to items df

In [ ]:
kindle_items = kindle[['asin','Compound Score']]
kindle_items[['Fantasy', 'Anime', 'History', 'Action','Comedy', 'Horror', 'Science Fiction', 'Romance', 'Mystery', 'Drama','Thriller']] = 0.0
kindle_items

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3645: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = value

,asin,Compound Score,Fantasy,Anime,History,Action,Comedy,Horror,Science Fiction,Romance,Mystery,Drama,Thriller
5,B000FA671Q,0.562306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,B000FC11II,0.223200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81588,B01HIGNUGE,0.503186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81594,B01HIP8DAI,0.804364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81613,B01HIZRVFG,0.666268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81628,B01HJBPMQY,0.804362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
kindle

,asin,Compound Score,Manga & amp,Graphic Novels,Romance,Humor & Satire,Literature & Fiction,Science & Math,History,Religion & Spirituality,Thriller & Suspense,Mystery,Self-Help,Teen & Young Adult,Nonfiction,Science Fiction & Fantasy
5,B000FA671Q,0.562306,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,B000FC11II,0.223200,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81588,B01HIGNUGE,0.503186,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81594,B01HIP8DAI,0.804364,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81613,B01HIZRVFG,0.666268,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81628,B01HJBPMQY,0.804362,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
k = kindle.index.tolist()
i = kindle_items.index.tolist()
len(set(k) & set(i))

8335

In [ ]:
items = kindle

In [ ]:
gen_dict = {}
map_genre()
gen_dict

{'Graphic Novels': ['Anime', 'Romance', 'Comedy', 'History'],
 'History': ['History', 'Anime', 'Action', 'Science Fiction'],
 'Humor & Satire': ['Comedy', 'Romance', 'Drama', 'Mystery'],
 'Literature & Fiction': ['Science Fiction', 'History', 'Romance', 'Mystery'],
 'Manga & amp': ['Anime', 'Romance', 'Horror', 'Mystery'],
 'Mystery': ['Romance', 'Thriller', 'Fantasy', 'Mystery'],
 'Nonfiction': ['Science Fiction', 'Anime', 'History', 'Action'],
 'Religion & Spirituality': ['History', 'Horror', 'Action', 'Romance'],
 'Romance': ['Mystery', 'Thriller', 'Fantasy', 'Romance'],
 'Science & Math': ['Science Fiction', 'History', 'Drama', 'Action'],
 'Science Fiction & Fantasy': ['Science Fiction', 'History', 'Drama', 'Anime'],
 'Self-Help': ['Anime', 'Romance', 'Comedy', 'History'],
 'Teen & Young Adult': ['Anime', 'History', 'Horror', 'Action'],
 'Thriller & Suspense': ['Romance', 'Mystery', 'Thriller', 'Fantasy']}

In [ ]:
for item in items.index:
  related = []
  for gen in items.columns:
    if items.at[item,gen]==1.0:
      for genre in gen_dict[gen]:
        related.append(genre)
  for g in related:
    kindle_items.at[item,g] = 1.0
kindle_items

,asin,Compound Score,Fantasy,Anime,History,Action,Comedy,Horror,Science Fiction,Romance,Mystery,Drama,Thriller
5,B000FA671Q,0.562306,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10,B000FC11II,0.223200,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81588,B01HIGNUGE,0.503186,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81594,B01HIP8DAI,0.804364,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81613,B01HIZRVFG,0.666268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
81628,B01HJBPMQY,0.804362,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
kindle_items.to_csv('/content/drive/MyDrive/FinalModel/items_kindle.csv')

# merging kindle items and movie items

In [ ]:
kindle_items

,asin,Compound Score,Fantasy,Anime,History,Action,Comedy,Horror,Science Fiction,Romance,Mystery,Drama,Thriller
5,B000FA671Q,0.562306,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10,B000FC11II,0.223200,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81588,B01HIGNUGE,0.503186,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81594,B01HIP8DAI,0.804364,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81613,B01HIZRVFG,0.666268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
81628,B01HJBPMQY,0.804362,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
81629,B01HJBPUWA,0.758173,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
items = kindle_items.append(movie_items)
items

,asin,Compound Score,Fantasy,Anime,History,Action,Comedy,Horror,Science Fiction,Romance,Mystery,Drama,Thriller
5,B000FA671Q,0.562306,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
6,B000FBFM1G,0.315188,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
7,B000FBFMVG,0.794043,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
8,B000FBJBA4,0.621531,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10,B000FC11II,0.223200,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,B01H4FJP7C,0.586133,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
22426,B01H5X80Y2,0.060769,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
22428,B01HC3880G,0.318535,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
22432,B01HDHA9JO,0.159425,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
22438,B01HE9S3J4,0.984950,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0

In [ ]:
items.to_csv('/content/drive/MyDrive/FinalModel/items_merged.csv')

# some test codes DONT RUN PLS

In [ ]:
uir = pd.read_csv('/content/drive/MyDrive/FinalModel/user_item_rating.csv')
uir

       Unnamed: 0        asin      reviewerID  overall
0               8  B000FA671Q  A3S7REHVBOSTLR      4.0
1              19  B000FA671Q   AC1K4OQOZ90RS      3.0
2              27  B000FBFMVG  A12LKEM543ILBK      3.0
3              31  B000FBFM1G  A3MV1KKHX51FYT      4.0
4              36  B000FBFM1G   AHUT55E980RDR      4.0
...           ...         ...             ...      ...
21654      175450  6303905315  A3MV1KKHX51FYT      3.0
21655      175454  6303954170  A20EEWWSFMZ1PN      5.0
21656      175459  6303923720  A20EEWWSFMZ1PN      5.0
21657      175460  6303923720  A3MV1KKHX51FYT      4.0
21658      175461  6303923720  A1G5Q9HBN0EGDV      5.0

[21659 rows x 4 columns]

In [ ]:
types = pd.read_csv('/content/drive/MyDrive/FinalModel/item_type.csv')
types

         asin type
0  B000FA671Q    K
1  0307142477    M

In [ ]:
kindles = types.loc[types['type']=='K']
kinitems = kindles['asin'].tolist()
len(kinitems)

1

In [ ]:
kin_uir = uir.loc[uir['asin'].isin(kinitems)]
kin_uir

   Unnamed: 0        asin      reviewerID  overall
0           8  B000FA671Q  A3S7REHVBOSTLR      4.0
1          19  B000FA671Q   AC1K4OQOZ90RS      3.0

In [ ]:
c = kin_uir['reviewerID'].value_counts()
c

A3S7REHVBOSTLR    1
AC1K4OQOZ90RS     1
Name: reviewerID, dtype: int64